{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
	<title>Mission</title>
	<link rel="stylesheet" type="text/css" href="{% static '0102.css' %}">
	<script type="text/javascript">
		function toggle_show(id) {
		document.getElementById(id).style.display = document.getElementById(id).style.display == 'none' ? 'block' : 'none';
}
</script>
</head>
<body>
<div id="qw">
	<div id="menu">
		Hi spase!
	</div>

	<header>
		<div id="ramka1">
			<div id="ramka2">
			<a href= "http://127.0.0.1:8000/main/" class="ffa" style="color: black;text-decoration: none;"> Главная </a>
			<a href="http://127.0.0.1:8000/mission/" class="ffa" style="color: black;">Действующие Миссии</a>
			<a href="http://127.0.0.1:8000/history/" class="ffa" style="color: black;text-decoration: none;">История космонавтики </a>
			<a href="http://127.0.0.1:8000/galery/" class="ffa" style="color: black;text-decoration: none;">Фотогалерея</a>
			</div>
		</div>
	</header>

	<article>
		<div id="mens" style="background-color: #3341DB;">
			<ul id="tabs">
				<li onClick="toggle_show('splinter1')">Новые горизонты — 19 января 2006 года.
					<ul id="splinter1" style="display: none;font-size: 20px;">
						<li>«Новые горизонты» — автоматическая межпланетная станция НАСА, запущенная в рамках программы «Новые рубежи» (New Frontiers) и предназначенная для изучения Плутона и его естественного спутника Харона.</li>
						<li>Запуск осуществлён 19 января 2006 года, аппарат выполнил пролёт Юпитера (с гравитационным манёвром в его поле тяготения) в 2007 году и научную программу изучения Плутона в 2015 году, на начало 2019 года запланировано изучение объектов пояса Койпера. Полная программа исследований «Новых горизонтов» рассчитана на 15—17 лет.</li>
						<li>«Новые горизонты» покинул окрестности Земли с самой большой из всех космических аппаратов скоростью. В момент выключения двигателей она составила 16,26 км/с (относительно Земли). Гелиоцентрическая скорость составила 45 км/с, что позволило бы «Новым горизонтам» покинуть Солнечную систему даже без гравитационного манёвра около Юпитера.</li>
					</ul>
				</li>



				<li onClick="toggle_show('splinter2')">Юнона — 5 августа 2011 года.
					<ul id="splinter2" style="display: none;font-size: 20px;">
						<li>«Юнона» — автоматическая межпланетная станция НАСА, запущенная 5 августа 2011 года для исследования Юпитера.</li>
						<li>Выход аппарата на полярную орбиту газового гиганта произошёл 5 июля 2016 года.</li>
						<li>Целью миссии является изучение гравитационного и магнитного полей планеты, а также проверка гипотезы о наличии у Юпитера твёрдого ядра.</li>
					</ul>
				</li>





				<li onClick="toggle_show('splinter3')">Розетта — 2 марта 2004 года.
					<ul id="splinter3" style="display: none;font-size: 20px;">
						<li>«Розе́тта» — автоматическая межпланетная станция, предназначенная для исследования кометы. Разработана и изготовлена Европейским космическим агентством в сотрудничестве с NASA. Состоит из двух частей: собственно зонда «Розетта» и спускаемого аппарата «Филы».</li>
						<li>Космический аппарат запущен 2 марта 2004 года к комете 67P/Чурюмова — Герасименко. Выбор кометы был сделан из соображений удобства траектории полета. «Розетта» — первый космический аппарат, который вышел на орбиту кометы. В рамках программы 12 ноября 2014 года произошла первая в мире мягкая посадка спускаемого аппарата на поверхность кометы. Основной зонд «Розетта» завершил свой полёт 30 сентября 2016 года, совершив жёсткую посадку на комету 67P/Чурюмова — Герасименко.</li>
					</ul>
				</li>



				<li onClick="toggle_show('splinter4')">Хаябуса-2 - 3 декабря 2014 года.
					<ul id="splinter4" style="display: none;font-size: 20px;">
						<li>«Хаябу́са-2» (яп. はやぶさ2 — «Сапсан-2») — автоматическая межпланетная станция Японского агентства аэрокосмических исследований (JAXA), предназначенная для доставки образцов грунта с астероида класса C.</li>
						<li>В качестве цели выбран астероид (162173) 1999 JU3. В перигелии его орбита заходит внутрь орбиты Земли, а в афелии касается орбиты Марса. Диаметр 1999 JU3 оценивается примерно в 0,92 км — почти в два раза больше, чем у астероида Итокава, частицы грунта с которого были доставлены аппаратом «Хаябуса».</li>
					</ul>
				</li>


				<li onClick="toggle_show('splinter5')">TESS - 18 апреля 2018 года.
					<ul id="splinter5" style="display: none;font-size: 20px;">
						<li>TESS - космический телескоп, предназначенный для открытия экзопланет транзитным методом.
						Телескоп разработан Массачусетским технологическим институтом в рамках Малой исследовательской программы НАСА.
						Предполагается, что телескоп будет проводить в течение двух лет всесезонные исследования с целью более подробного изучения ранее открытых и обнаружения ранее неизвестных экзопланет на орбитах вокруг ярких звёзд.</li>
						<li>Основная цель миссии состоит в нахождении каменистых экзопланет, попадающих в обитаемую зону и удалённых от Земли не более чем на 200 световых лет («Кеплер», несмотря на то, что открыл более 2600 экзопланет, проводил исследования объектов на удалении до 3000 световых лет, вследствие чего тусклость большинства открытых им миров не позволяет даже самым современным наземным телескопам измерить их радиальную скорость).</li>
					</ul>
				</li>




			</ul>

		</div>


	</article>
	<br>
	<br>
	<br>
	<br><br>
	<br>
	</div>
</body>
</html>