{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
	<title>Gallery</title>
	<link rel="stylesheet" type="text/css" href="{% static '0104.css' %}">
</head>
<body>
	<div id = "qw">
	<div id="menu">
		Hi spase!
	</div>

		<header>
		<div id="ramka1">
			<div id="ramka2">
			<a href= "http://127.0.0.1:8000/main/" class="ffa" style="color: black;text-decoration: none;"> Главная </a>
			<a href="http://127.0.0.1:8000/mission/" class="ffa" style="color: black ;text-decoration: none;">Действующие Миссии</a>
			<a href="http://127.0.0.1:8000/history/" class="ffa" style="color: black;text-decoration: none;">История космонавтики </a>
			<a href="http://127.0.0.1:8000/galery/" class="ffa" style="color: black;">Фотогалерея</a>
			</div>
		</div>
	</header>


	<article>
		<div id="mens">
	    <img src="{% static 'foton/1200px-NGC7293_(2004).jpg' %}" width="500" height="300" alt=""/>
		<img src="{% static 'foton/1531215288_24296312_jpg_770x380_q85_crop-0h.jpg' %}" width="500" height="300" alt=""/>
		<img src="{% static 'foton/Mlechnyiy-put1.jpg' %}" width="500" height="300" alt=""/>
		<img src="{% static 'foton/1.jpg' %}" width="500" height="300" alt=""/>
		<img src="{% static 'foton/2.png' %}" width="500" height="300" alt=""/>
		<img src="{% static 'foton/3.jpg' %}" width="500" height="300" alt=""/>
		<img src="{% static 'foton/4.jpeg' %}" width="500" height="300" alt=""/>
		<img src="{% static 'foton/5.jpg' %}" width="500" height="300" alt=""/>
		<img src="{% static 'foton/6.jpeg' %}" width="500" height="300" alt=""/>
		<img src="{% static 'foton/7.png' %}" width="500" height="300" alt=""/>
		<img src="{% static 'foton/8.jpg' %}" width="500" height="300" alt=""/>
		<img src="{% static 'foton/9.jpg' %}" width="500" height="300" alt=""/>
		<img src="{% static 'foton/10.png' %}" width="500" height="300" alt=""/>
		<img src="{% static 'foton/11.jpg' %}" width="500" height="300" alt=""/>
		</div>
	</article>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	</div>
</body>
</html>